@import "tailwindcss";

@theme {
    --color-primary: #F97315;
    --color-secondary: #9333ea;
    --color-dark: #18181A;

    /* Border radius z CSS variables */
    --radius: 0.5rem;
    --radius-lg: var(--radius);
    --radius-md: calc(var(--radius) - 2px);
    --radius-sm: calc(var(--radius) - 4px);
}

@custom-variant dark (&:where(.dark, .dark *));